<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"> 
        <title>Correlação</title>
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    </head>
    <body>
        <center>
            <h3>Resultado correlação da empresa: {{ dados['emp_princ'] }} </h3>
            <br>
            <h4>Intervalo de datas: {{ dados['dt_init'] }} - {{ dados['dt_fim'] }}</h4>
            <input type="hidden" id="dt_init" value="{{ dados['dt_init'] }}">
            <input type="hidden" id="dt_fim" value="{{ dados['dt_fim'] }}">
            <ul>
                {% for item in dados['emp_comp'] %}
                    <li style="list-style-type: none;">{{ item }}: {{ dados['corr_geral'][item]['corr'] }}</li>
                {% endfor %}
            </ul>
            <br>
            <br>
            <div>
                {% for item in dados['corr_periodo'].keys() %}
                    <input type="hidden" value="{{ item }}" class="period_emp"/>
                    {% with data = dados['corr_periodo'][item] %}
                        {% for d in data %}
                            <input type="hidden" value="{{ d['json'] }}" class="period_{{ item }}"/>
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
                <div id="Period" style="height: 300px; width: 100%;"></div>
            </div>

            <br>
            <br>
            <div>
                {% for item in dados['corr_prog'].keys() %}
                    <input type="hidden" value="{{ item }}" class="progress_emp"/>
                    {% with data = dados['corr_prog'][item] %}
                        {% for d in data %}
                            <input type="hidden" value="{{ d['json'] }}" class="progress_{{ item }}"/>
                        {% endfor %}
                    {% endwith %}
                {% endfor %}
                <div id="Progress" style="height: 300px; width: 100%;"></div>
            </div>

        </center>
    </body>
    <script type="text/javascript">
        window.onload = dados_grafico()

        function format_date(date){
            var parts = date.split('/');
            return new Date(parts[2], parts[1] - 1, parts[0]);
        }

        function color(){
            colors = ['Black', 'Navy', 'DarkBlue', 'MediumBlue', 'Blue', 'DarkGreen', 'Green', 'Teal', 'DarkCyan', 'DeepSkyBlue', 'DarkTurquoise',
                      'MediumSpringGreen', 'Lime', 'SpringGreen', 'Aqua', 'Cyan', 'MidnightBlue', 'DodgerBlue', 'LightSeaGreen', 'ForestGreen', 'SeaGreen',
                      'DarkSlateGray', 'DarkSlateGrey', 'LimeGreen', 'MediumSeaGreen', 'Turquoise', 'RoyalBlue', 'SteelBlue', 'DarkSlateBlue', 'MediumTurquoise',
                      'Indigo', 'DarkOliveGreen', 'CadetBlue', 'CornflowerBlue', 'RebeccaPurple', 'MediumAquaMarine', 'DimGray', 'DimGrey', 'SlateBlue',
                      'OliveDrab', 'SlateGray', 'SlateGrey', 'LightSlateGray', 'LightSlateGrey', 'MediumSlateBlue', 'LawnGreen', 'Chartreuse', 'Aquamarine',
                      'Maroon', 'Purple', 'Olive', 'Gray', 'Grey', 'SkyBlue', 'LightSkyBlue', 'BlueViolet', 'DarkRed', 'DarkMagenta', 'SaddleBrown',
                      'DarkSeaGreen', 'LightGreen', 'MediumPurple', 'DarkViolet', 'PaleGreen', 'DarkOrchid', 'YellowGreen', 'Sienna', 'Brown', 'DarkGray',
                      'DarkGrey', 'LightBlue', 'GreenYellow', 'PaleTurquoise', 'LightSteelBlue', 'PowderBlue', 'FireBrick', 'DarkGoldenRod', 'MediumOrchid',
                      'RosyBrown', 'DarkKhaki', 'Silver', 'MediumVioletRed', 'IndianRed', 'Peru', 'Chocolate', 'Tan', 'LightGray', 'LightGrey', 'Thistle',
                      'Orchid', 'GoldenRod', 'PaleVioletRed', 'Crimson', 'Gainsboro', 'Plum', 'BurlyWood', 'LightCyan', 'Lavender', 'DarkSalmon', 'Violet',
                      'PaleGoldenRod', 'LightCoral', 'Khaki', 'AliceBlue', 'HoneyDew', 'Azure', 'SandyBrown', 'Wheat', 'Beige', 'WhiteSmoke', 'MintCream',
                      'GhostWhite', 'Salmon', 'AntiqueWhite', 'Linen', 'LightGoldenRodYellow', 'OldLace', 'Red', 'Fuchsia', 'Magenta', 'DeepPink', 'OrangeRed',
                      'Tomato', 'HotPink', 'Coral', 'DarkOrange', 'LightSalmon', 'Orange', 'LightPink', 'Pink', 'Gold', 'PeachPuff', 'NavajoWhite', 'Moccasin',
                      'Bisque', 'MistyRose', 'BlanchedAlmond', 'PapayaWhip', 'LavenderBlush', 'SeaShell', 'Cornsilk', 'LemonChiffon', 'FloralWhite', 'Snow',
                      'Yellow', 'LightYellow', 'Ivory', 'White']
            var rand = Math.random();
            rand *= colors.length;
            rand = Math.floor(rand);
            return colors[rand]
        }

        function dados_grafico(){
            period_emp = document.getElementsByClassName('period_emp')
            progress_emp = document.getElementsByClassName('progress_emp')

            period = []
            progress = []

            for(var i=0; i < period_emp.length; i++){
                linha = {
                    type: "line",
                    showInLegend: true,
                    name: period_emp[i].value,
                    xValueFormatString: "DD/MM/YYYY",
                    color: color()
                }

                x = format_date(document.getElementById('dt_init').value)
                tmp = [{x: x, y: 0, markerColor: "blue", markerType: "square"}]

                infos = document.getElementsByClassName('period_' + period_emp[i].value)

                for(var j=0; j < infos.length; j++){
                    item = JSON.parse(infos[j].value);
                    x = format_date(item['dt_fim'])
                    y = item['corr']

                    if (item['var'] == 0){
                        obj = {x: x, y: y, markerColor: "blue", markerType: "square"}
                    } else if (item['var'] > 0){
                        obj = {x: x, y: y, indexLabel: "Subida", markerColor: "green", markerType: "triangle"}
                    } else {
                        obj = {x: x, y: y, indexLabel: "Queda", markerColor: "red", markerType: "triangle"}
                    }

                    tmp.push(obj);
                }

                linha['dataPoints'] = tmp
                period.push(linha)
            }

            period.sort(function(a,b){return a.x < b.x ? -1 : a.x > b.x ? 1 : 0;})


            for(var i=0; i < progress_emp.length; i++){
                linha = {
                    type: "line",
                    showInLegend: true,
                    name: progress_emp[i].value,
                    xValueFormatString: "DD/MM/YYYY",
                    color: color()
                }

                x = format_date(document.getElementById('dt_init').value)
                tmp = [{x: x, y: 0, markerColor: "blue", markerType: "square"}]

                infos = document.getElementsByClassName('progress_' + progress_emp[i].value)

                for(var j=0; j < infos.length; j++){
                    item = JSON.parse(infos[j].value);
                    x = format_date(item['dt_fim'])
                    y = item['corr']

                    if (item['var'] == 0){
                        obj = {x: x, y: y, markerColor: "blue", markerType: "square"}
                    } else if (item['var'] > 0){
                        obj = {x: x, y: y, indexLabel: "Subida", markerColor: "green", markerType: "triangle"}
                    } else {
                        obj = {x: x, y: y, indexLabel: "Queda", markerColor: "red", markerType: "triangle"}
                    }

                    tmp.push(obj);
                }

                linha['dataPoints'] = tmp
                progress.push(linha)
            }

            progress.sort(function(a,b){return a.x < b.x ? -1 : a.x > b.x ? 1 : 0;})

            gerar_grafico(period, progress)
        }

        function gerar_grafico(period, progress){
            var chart_period = new CanvasJS.Chart("Period", {
                animationEnabled: true,
                theme: "dark1",
                title:{
                    text: "Correlação por período de 90 dias."
                },
                axisX:{
                    valueFormatString: "DD MMM YYYY",
                    crosshair: {
                        enabled: true,
                        snapToDataPoint: true
                    }
                },
                axisY: {
                    title: "Grau Correlação",
                    crosshair: {
                        enabled: true
                    }
                },
                toolTip:{
                    shared:true
                },  
                legend:{
                    cursor:"pointer",
                    verticalAlign: "bottom",
                    horizontalAlign: "left",
                    dockInsidePlotArea: true,
                    itemclick: toogleDataSeries
                },
                data: period
            });
            chart_period.render();

            function toogleDataSeries(e){
                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else{
                    e.dataSeries.visible = true;
                }
                chart_period.render();
            }

            var chart_progress = new CanvasJS.Chart("Progress", {
                animationEnabled: true,
                theme: "dark1",
                title:{
                    text: "Progressão da correlação a cada 90 dias."
                },
                axisX:{
                    valueFormatString: "DD MMM YYYY",
                    crosshair: {
                        enabled: true,
                        snapToDataPoint: true
                    }
                },
                axisY: {
                    title: "Grau Correlação",
                    crosshair: {
                        enabled: true
                    }
                },
                toolTip:{
                    shared:true
                },  
                legend:{
                    cursor:"pointer",
                    verticalAlign: "bottom",
                    horizontalAlign: "left",
                    dockInsidePlotArea: true,
                    itemclick: toogleDataSeries
                },
                data: progress
            });
            chart_progress.render();

            function toogleDataSeries(e){
                if (typeof(e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else{
                    e.dataSeries.visible = true;
                }
                chart_progress.render();
            }
        }

    </script>
</html>
