<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"> 
        <title>Correlação</title>
    </head>
    <body>
        <center>
            <h3>Resultado correlação da empresa: {{ dados['emp_princ'] }} </h3>
            <br>
            <ul>
                {% for item in dados['emp_comp'] %}
                    <li style="list-style-type: none;">{{ item }}: {{ dados['corr_geral'][item] }}</li>
                {% endfor %}
            </ul>
        </center>
    </body>
</html>
