<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1"> 
        <title>Correlação</title>
    </head>
    <body>
        <center>
            {%  %}
            <h3>Correlação Saída</h3>
            <br>
            <br>
            <ul>
                {% for item in dados['empresas'] %}
                    <li style="list-style-type: none;"><input type="radio" value="{{ item[0] }}" name="id_empresa" id="id_empresa" />{{ item[1] }}</li>
                {% endfor %}
            </ul>
        </center>
    </body>
</html>
